
body {
	min-height: 100vh;  /* need this line to 
					tell body to fill viewport */
	font-family: 'Roboto', sans-serif;
	background-color: white;
	display: flex;
	flex-direction: column;
	color: blue;
}

header {
    text-align: left;
    padding: 4%;
    padding-bottom: 9%;
    padding-left: 3%;
}

.or-separator{
	color:#4A73FF;
	font-size: large;
	font-weight: bold;
}

#search-field {
	padding: 10%;
	padding-top: 0;
	padding-bottom: 5%;
}

.input-info {
	display: flex;
    justify-content: center;
    padding-bottom: 6%;
    }

.search-button {
	display: flex;
	justify-content: center;
}

#button {
	color:#FFFFFF;
	background-color: #4A73FF;
	border-radius: 10px;
	padding: 1.2%;
	padding-right: 3%;
	padding-left: 3%;
	font-size: 120%; 
}

.field-item{
	padding-right: 2%;
}

.boxHeader {
	color:#4A73FF;
	padding-bottom: 7%;
	font-size: x-large;
	font-weight: 100;
}


#header-title {
   font-size: xx-large;
   font-weight: bold;
   color:#4A73FF;
}

#search-title{
	font-size: xx-large;
	color:black;
	font-weight: lighter;

}

#bookDisplay {
	
}


main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
     color: black;
     display:flex;
     flex-direction: column;
}


input {
	border-style: solid;
	border-radius: 10px;
	font-size: medium;
	height: 80%;
	border-color: #4A73FF;
}

p {
	font-size: medium;
	margin: 10px;
	width: 20%;
}

.bookInfo {
	font-size: medium;
	margin: 10px;
	width: 20%;
}

.basicInfo {
	font-size: medium;
	margin: 10px;
}






.overlay_base {
    display: none; /* Start out hidden, we'll dynamically enable it later. */

    /* Full-window container ... */
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* ... floating above everything else ... */
    z-index: 2;

    /* ... with partial transparency, 
           to make everything else look greyed out */
    background-color: rgba(0,0,0,0.5);

    /* Flex options for child objects */
    align-items: center;
    justify-content: center;
}

.overlay_inner {
    width: 50%;
    height: 50%;
    background-color: rgb(255,255,255); /* Must set the background color here, 
				otherwise it inherits from the parent */
    position: relative;
}

/* Not covered in Discussion: force the close button into
              the upper-right corner of it's parent container */
.overlay_button {
    position: absolute;
    top: 0px;
    right: 0px;
}


